{% extends "password_reset/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password recovery" %}{% endblock %}

{% block content %}
	<div id="wrapper">
        
        <div id="login" class="animate form">
            <section class="login_content">

				<form method="post" action="{{ url }}">
					<h2>Cambio de contraseña</h2>  
					{% csrf_token %}

					{{ form.as_p }}
					<p>
						<input type="submit" value="{% trans "Recover my password" %}" 
						class="btn btn-default submit"></p>
				</form>
			</section>
	</div>
	</div>
{% endblock %}
