{% extends "password_reset/base.html" %}{% load i18n %}

{% block title %}{% trans "New password set" %}{% endblock %}

{% block content %}
	<script type="text/javascript">
	window.setTimeout("location=('/login');",6000);
	</script>
	<p style="
    text-align: center;
    margin: 10%;
    font-size: 30px;">{% trans "Your password has successfully been reset. You can use it right now on the login page." %}</p>
{% endblock %}
