{% extends "password_reset/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password recovery sent" %}{% endblock %}

{% block content %}
	<script type="text/javascript">
	window.setTimeout("location=('/login');",6000);
	</script>
	<p style="
    text-align: center;
    margin: 10%;
    font-size: 30px;">{% blocktrans with ago=timestamp|timesince %}An email was sent to <strong>{{ email }}</strong> {{ ago }} ago. Use the link in it to set a new password.{% endblocktrans %}</p>
{% endblock %}
